
//===============

//font-stack

//==============


$font-family--heading: 'DM Serif Display', sans-serif;
$font-family--body : 'Karla', sans-serif;



//=================

// font-weight

//==================

$font-weight-thin : 100;
$font-weight-light : 300;
$font-weight-medium : 400;
$font-weight-bold : 700;
$font-weight-ultra-bold : 900;  


//=====================

// descriptive color

//=====================


$white : #fff;

$gray-500: #979797;


$purple-900: #2D2641;
$misty-blue: #96A9C6;
$grayish-purple: #837D88;
$gray-purple-900: #2C2830;
$gray-lavender-500: #837D88;


//====================

// usage color

//===================


$primary-color: $purple-900;
$secondary-color: $misty-blue;
$nav-link-color: $grayish-purple;
$header-color: $gray-purple-900;
$p-color :  $gray-lavender-500;
$footer-li-color: $purple-900;
$logp-color: $gray-purple-900;


//===========================

// font-size  desktop

//===========================


$font-size--sm : 1.3rem;  // button  and navlink    footer-li-link footer-list header
$font-size--md  : 1.6rem;  // paragraph
$font-size--lg  : 2.8rem;  // card header
$font-size--xlg  : 5.8rem; // breadcrumb  header 
$font-size--xxlg : 7.2rem;  // hero header  / card section header

@media (max-width: 768){
    $font-size--xxlg : 4.8rem;
}



$fs-nav-link : $font-size--sm;
$fs-btn      : $font-size--sm;
$fs-p        : $font-size--md;
$fs-sec-header : $font-size--xxlg;
$fs-hero-header : $font-size--xxlg;
$font-size-breadcrumb : $font-size--xlg;
