
@use  "../base/config" as *;


%heading--1 {

   font-size: 4.8rem;
   
}



%heading--2 {

    font-size: 4rem;
    
    
}





%heading--3 {

  font-size: 2.8rem;
    
}




@media screen and (min-width: 768px){


    %heading--1 {
      
        font-size: 7.2rem;
        font-weight: 400;
        font-family: $font-family--heading;
    }
    
    
    
    %heading--2 {
    
        font-size: 5.8rem;
        
    }
    
    
    
    
    
    %heading--3 {
    
        font-size: 2.8rem;
        
    }

}



@media screen and (min-width: 1100px){

    .container {
        max-width: 1440px;
        margin: 0 auto;
    }

    %heading--1 {
    
        font-size: 7.2rem;
    }
    
    
    
    %heading--2 {
    
        font-size: 5.8rem;
        
    }
    
    
    
    
    
    %heading--3 {
    
        font-size: 2.8rem;
        
    }
    
    
}

%body--1 {
   font-size: 1.6rem // pragrgar
}


%body--2 {
   font-size: 1.3rem // button text capital  footer and nav
}


%body--3 {

}


@media screen and (min-width: 768px){

    %body--1 {

    }
    
    
    %body--2 {
    
    }
    
    
    %body--3 {
    
    }
}



@media screen and (min-width: 1100px){

    %body--1 {

    }
    
    
    %body--2 {
    
    }
    
    
    %body--3 {
    
    }
}


