@use  '../base/config' as *;
@use  '../layout/grid' as *;

.hero  {

    background-color: $primary-color;
}




.hero__inner--right.col-2-2 {
 

    padding: 2rem 4rem 4rem;
}

.hero__inner--left.col-2-1 {

    margin-bottom: 0;
    padding-left: 0;
}


.hero__inner--right {
    position: relative;
    overflow: hidden;
   
}


.img.img--iml {
    position: absolute;
    top: 0;
    width: 130px;
    left: 0;
    display: block;
}


.img.img--imr {
    
    position: absolute;
    bottom:-220px;

    width: 130px;
    right: 0;
    display: block;
    
}


.img.img--idl  {
    display: none;
}


.img.img--idr  {
    display: none;
}


@media screen and (min-width: 768px){
    

    .img.img--idr{
        position: absolute;
        width: 200px;
        top: 80px;
        right:0;
        display: block;
    }
    

    .img.img--iml ,.img.img--imr {
        display: none;
    }


    .img.img--idl{
        position: absolute;
        width: 200px;
        bottom: -180px;
        left: 0;
        display: block;
    }
    
    .hero {
        margin-bottom: 20rem;
    }



    .hero__inner {
        padding-top: 5rem;
        height: 60rem;
        overflow: visible;
    }
   
    .hero__inner--left.col-2-1 {
        grid-column: 7/13;
        
    }
    
    .hero__inner--right.col-2-2{
       overflow: hidden;
        grid-column: 1/7;
    }




.img.img--intro--right {
    
    position: absolute;
    top: 0;

    width: 300px;
    right: -30px
    
}


.mobile-only {
    display: none;
}


}
