@use  "../base/config" as *;
.header {
    position: relative;
}

.nav {
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}


.item.item--nav {
    display: inline-block;
}

.item.item--nav:last-child {
    border: 2px solid $primary-color;
}
.link.link--nav {
    background-color: white;
    color: $primary-color;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $font-family--body;
    font-size: $fs-nav-link;

}

.link.link--nav:hover {
    background-color: $primary-color;
    color: white;
}

.list.list--nav {
    border: 0;

   
    display: block;
}


.link.link--logo {
    border: 0;
}

.img.img--list {
    position:absolute;
    top: 440px;
    left: 0;
    display: none;
    z-index: 1000;
}




@media screen and (max-width: 768px){
  

   .list.list--nav {
      display: none;
   }

   .box.box--nav {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.nav {
   
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.item.item--nav {

    display: block;
}

.link.link--nav {
    width: 100%;
    border-radius: 0;
     display: block;
      background-color: $purple-900;
     color: white;
     text-align: center;
     padding: 2rem;
     font-size: $font-size--md;
    
     
     

}

.is--active.list.list--nav{
    display: block;
    top: 6rem;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-color;
    height: 100vh;
    z-index: 100;
    padding: 0 4rem;
    
  
}




.ham.ham--nav {
    width: 70%;
    height: 2px;
    background-color: $primary-color;

    position: relative;
    
}


.ham.ham--nav.is--active {
    background-color: transparent;
}

.ham.ham--nav::after {
    content:"";
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    top: 7px;
}

.ham.ham--nav.is--active::after{
    top: 0;
    transform: rotate(45deg);
}

.ham.ham--nav::after {
    content:"";
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    top: 8px
}

.ham.ham--nav::before {
    content:"";
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    top: -8px
}

.ham.ham--nav.is--active::before{
    top: 0;
    transform: rotate(-45deg);
}


.is--active.img.img--list {
    display: block;
    width: 100vw;
    z-index: 1000;
}

.item.item--nav:last-child {
    border: 2px solid white;
}


}











/*

//===============

//font-stack

//==============


$font-family--heading: 'DM Serif Display', sans-serif;
$font-family--body : 'Karla', sans-serif;



//=================

// font-weight

//==================

$font-weight-thin : 100;
$font-weight-light : 300;
$font-weight-medium : 400;
$font-weight-bold : 700;
$font-weight-ultra-bold : 900;  


//=====================

// descriptive color

//=====================


$white : #fff;

$gray-500: #979797;


$purple-900: #2D2641;
$misty-blue: #96A9C6;
$grayish-purple: #837D88;
$gray-purple-900: #2C2830;
$gray-lavender-500: #837D88;


//====================

// usage color

//===================


$primary-color: $purple-900;
$secondary-color: $misty-blue;
$nav-link-color: $grayish-purple;
$header-color: $gray-purple-900;
$p-color :  $gray-lavender-500;
$footer-li-color: $purple-900;
$logp-color: $gray-purple-900;


//===========================

// font-size  desktop

//===========================


$font-size--sm : 1.3rem;  // button  and navlink    footer-li-link footer-list header
$font-size--md  : 1.6rem;  // paragraph
$font-size--lg  : 2.8rem;  // card header
$font-size--xlg  : 5.8rem; // breadcrumb  header 
$font-size--xxlg : 7.2rem;  // hero header  / card section header

@media (max-width: 768){
    $font-size--xxlg : 4.8rem;
}



$fs-nav-link : $font-size--sm;
$fs-btn      : $font-size--sm;
$fs-p        : $font-size--md;
$fs-sec-header : $font-size--xxlg;
$fs-hero-header : $font-size--xxlg;
$font-size-breadcrumb : $font-size--xlg;


*/