@use "../util/extend"  as *;


.title {
    
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    
    color: blue;

}

// .title.title--3{
//     @extend %heading--3 ;
// }


.title.title--1{
      @extend %heading--1;
}