@use "../util/extend"  as *;


.title-1 {
    
     @extend %heading--1;
      line-height: 1.2;
      font-weight: 400;
      text-align: center;
     &--hero {
        text-transform: capitalize;
        color:white;
     }
     
     &--different {
      
          margin-bottom: 3rem;   
         

     }

}



.title-2 {
    
      @extend %heading--2;
       line-height: 1.2;
       color: white;
       font-weight: 400;
       text-align: center;
      &--breadcrumb {
         text-transform: capitalize;
      }
 
 }


.title-3 {
    
     @extend %heading--3;
      line-height: 1.2;
     
     &--different {
        text-transform: capitalize;
        text-align: center
     }

}




.text-1 {
      @extend %body--1;
      line-height: 1.4;
      text-align: center;
      &--hero {
        color: white;
      }

      &--different {
         
        
      }

}

.footer h4 {
     text-align: center;
}


@media screen and (min-width: 768px ) {
     .text-1 {
          text-align: left;
     }

     .title-1 {
        text-align: left;
     }

     .title-3 {
          text-align: left;
     }
     


     .title-2 {
    
         &--breadcrumb {
           text-align: left;
         }
     
     }
}
